body {
    background-color:#0a192f ;
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
    
    
    

}




.main {
    display: none;             /* Al finalizar el loader, el display se modifica a flex*/
    flex-direction: column;
    flex-wrap: nowrap;
    
}

html {
    scroll-behavior: smooth;
    
}



