body {
    background-color: #020c1b ;
    font-family: 'Rajdhani', sans-serif;
    
    
    

}
.loading {
    visibility: hidden;
}



.main {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
}

html {
    scroll-behavior: smooth;
    
}



