.sobreMi {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    border: 2px solid red;
}

.sobreMi__titulo {
    padding: 1.6Rem;
    
}

.sobreMi__contenedor {
    width: 60%;
    padding: 2rem;
}

.sobreMi__texto {
    text-align: justify;
}