.cabecera {
    height: 100vh;
    display: none;
    flex-direction: column;
    
    
background-color: #0a192f  ;}
.logo {
    width: 40%;
    aspect-ratio: 2/2;
    
}

.cabecera__nav {
    
    display: flex;
    justify-content: space-between;
    
    

}
.cabecera__lista {
    display: flex;
    text-decoration: none;
    z-index: 0;
    padding: 0.8rem;
    
    
}

.cabecera__logo {
    padding: 0.8rem;
    z-index: 0;
}
.cabecera__a {
    text-decoration: none;
    color: #64ffda;
}

.cabecera__lista--item {
    padding: 10px;
    list-style: none;
    margin-right: 10px;
    color: #8892b0;
    padding: 1.3rem;
    
    
}
.cabecera__a:link { 
    text-decoration: none;
}
.cabecera__a:visited {
text-decoration: none;
}
